@model GameMall_Front.ViewModels.Customer.ViewModelDeliveryAddress
@{
    Layout = null;
}
<form action="/FrontCustomer/AddAddress" method="post">
    <h2>地址管理</h2>
    <div>新增收货地址</div>
    <div class="item">
        <div class="word">
            <span class="star">*</span>
            <span>所在地区：</span>
        </div>
        <input name="Province" placeholder="请输入：省/市" value="@Model.Province" />
        <input name="Area" placeholder="请输入：区/县" value="@Model.Area" />
        <input name="Street" placeholder="请输入：街道  可不填" value="@Model.Street" />
    </div>
    <div class="item">
        <div class="word">
            <span class="star">*</span>
            <span>详细地址：</span>
        </div>
        <textarea name="DetailAddress">@Model.DetailAddress</textarea>
    </div>
    <div class="item">
        <div class="word">
            <span>邮政编码：</span>
        </div>
        <input name="Postcode" value="@Model.Postcode" placeholder="可不填" />
    </div>
    <div class="item">
        <div class="word">
            <span class="star">*</span>
            <span>收货人姓名：</span>
        </div>
        <input name="DeliveryName" value="@Model.DeliveryName" />
    </div>
    <div class="item">
        <div class="word">
            <span class="star">*</span>
            <span>手机号码：</span>
        </div>
        <input name="TelNum" value="@Model.TelNum" />
    </div>
    <div class="item">
        <div class="word">
            <span>设为默认：</span>
        </div>
        @if (Model.Default == 0)
        {
            <input name="Default" type="checkbox" value="1" />
        }
        else
        {
            <input name="Default" type="checkbox" value="1" checked="checked" />
        }
    </div>
    <button>保存</button>
</form>
<div>
    <p>已保存的地址</p>
    @Html.Action("AddressList", "FrontCustomer")
</div>
