@model PagedList.PagedList<GameMall_Back.ViewModels.Order.ViewModelInvoice>
@{
    Layout = null;
}
<div class="list">
    <table>
        <thead>
            <tr>
                <th>发货单号</th>
                <th>订单号</th>
                <th>下单时间</th>
                <th>收货人</th>
                <th>操作人</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><span>发货单号：@item.InvoiceId</span></td>
                    <td><span>订单号：@item.OrderId</span></td>
                    <td>2017-11-11</td>
                    <td>张云鹏</td>
                    <td>admin</td>
                    <td>
                        <form action="/Order/InvoiceDetail">
                            <input name="invoiceId" value="@item.InvoiceId" type="hidden" />
                            <button>查看发货单</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="jbt_page">
    <input id="page_totle_count" value="@Model.PageCount" type="hidden" />
    <input id="current_page" value="@Model.PageNumber" type="hidden" />
    <span>共 @Model.PageCount 页</span>
    <input class="to_first" type="button" title="第一页" onclick="to_first()" />
    <input class="to_pre" type="button" title="前一页" onclick="to_pre()" />
    <span>第</span><input class="inputbox_page_number" id="inputbox_page_number" value="@Model.PageNumber" /><span>页</span>
    <input class="to_next" type="button" title="下一页" onclick="to_next()" />
    <input class="to_last" type="button" title="最后一页" onclick="to_last()" />
    <button id="go_to_page" class="goto" onclick="go_to()">GO</button>
</div>

