@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (TempData["TipDelete"] != null)
    {
        string message = (string)TempData["TipDelete"];
        <script>
            alert("@message");
        </script>
    }
}
<section class="content-header">
    <h1>
        商品列表
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="tips">
        <div class="tips-tit">
            <img src="~/Images/Shared/灯.png" />
            <span>操作提示</span>
        </div>
        <ul>
            <li>该页面展示了商城所有的商品信息，可对商品进行编辑修改操作。</li>
            <li>可手动添加商品，删除。</li>
        </ul>
    </div>
    <div class="admin-list">
        <div class="head">
            <a href="/Goods/AddGoods1" class="button">+添加商品</a>
            <div class="search-block">
                <input type="text" id="searchKey" />
                <button id="search" class="search"></button>
            </div>
        </div>
        <div class="list" id="list">
            @Html.Action("SearchGoods", "Goods", new { searchKey = "",Page =1})
        </div>
    </div>
</section>
<div id="tip_delect_goods">
</div>
@section css{
    @Styles.Render("~/Css/admin.css")
    @Styles.Render("~/Css/alert.css")
    @Styles.Render("~/Css/page.css")
}
@section scripts{
    @Scripts.Render("~/Js/goods.js")
}