@model List<GameMall_Back.ViewModels.Warehouse.ViewModelWarehouse>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Css/admin.css")
}
<section class="content-header">
    <h1>
        仓库日志
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="tips">
        <div class="tips-tit">
            <img src="~/Images/Shared/灯.png" />
            <span>操作提示</span>
        </div>
        <ul>
            <li>该页面展示管理员的操作日志，可进行删除。</li>
        </ul>
    </div>
    <div class="admin-list">
        <div class="head">
            <a href="/Warehouse/CreatWarehouse" class="button">+创建仓库</a>
            <a href="/Warehouse/WarehouseLog" class="button">仓库日志</a>

            <div class="search-block">
                <input type="text" name="searchKey"  placeholder="仓库名" />
                <button class="search"></button>
            </div>
        </div>
        <div class="list">
            <table>
                <thead>
                    <tr>
                        <th class="choosebox"><input type="checkbox" /></th>
                        <th>编号</th>
                        <th>仓库名</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="choosebox"><input type="checkbox" /></td>
                            <td>@item.WarehouseId</td>
                            <td>@item.WarehouseName</td>
                            <td>@item.AdminId</td>
                            <td>@item.CreatTime</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>



