@model List<GameMall_Front.ViewModels.Customer.ViewModelDeliveryAddress>
@{ 
    Layout = null;
}
<div class="addressList">
    <table>
        <thead>
            <tr>
                <th>收货人</th>
                <th>所在省</th>
                <th>所在地区</th>
                <th>所在街道</th>
                <th>详细地址</th>
                <th>邮编</th>
                <th>手机号</th>
                <th colspan="2">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DeliveryName</td>
                    <td>@item.Province</td>
                    <td>@item.Area</td>
                    <td>@item.Street</td>
                    <td>@item.DetailAddress</td>
                    <td>@item.Postcode</td>
                    <td>@item.TelNum</td>
                    <td>
                        <a>修改</a>
                        <a>删除</a>
                    </td>
                    <td>
                        @if (item.Default == 1)
                        {
                            <span>默认地址</span>
                        }
                        else
                        {
                            <a>设为默认</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
