@model GameMall_Back.ViewModels.Goods.ViewModelGoods
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Css/addGoods.css")
}
@{
    if (TempData["Error"] != null)
    {
        <script>
                alert("@TempData["Error"]");
        </script>
    }
}
<section class="content-header">
    <h1>
        <a href="/Goods/GoodsList"><img src="~/Images/Shared/return.png" /></a>
        <span>商品列表 - 添加商品</span>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 商品中心</a></li>
        <li class="active">商品列表</li>
        <li class="active">添加商品</li>
    </ol>
</section>
<section class="content">
    <form enctype="multipart/form-data" action="/Goods/AddGoods1" method="post" id="form-goodsMessage">
        <div class="tips">
            <div class="tips-tit">
                <img src="~/Images/Shared/灯.png" />
                <span>操作提示</span>
            </div>
            <ul>
                <li>只有权限管理员才能创建仓库</li>
                <li>标识“*”的选项为必填项，其余为选填项。</li>
                <li>新增仓库后可从仓库列表中找到该条数据，并对其操作。</li>
            </ul>
        </div>
        <div class="steps">
            <div class="img">
                <img src="~/Images/Shared/step-fiest.png" />
            </div>
            <span>填写商品信息</span>
            <span>上传游戏截图</span>
        </div>
        <div class="message">
            <div class="title">游戏基本信息</div>
            <input name="GoodsId" value="@Model.GoodsId" type="hidden"/>
            <div class="items">
                <div class="word">
                    <span class="star">*</span>
                    <span>游戏名称:</span>
                </div>
                <input name="GoodsName" value="@Model.GoodsName" />
            </div>
            <div class="items">
                <div class="word">
                    <span class="star">*</span>
                    <span>分类:</span>
                </div>
                <select name="Type">
                    <option disabled="disabled" selected="selected">请选择...</option>
                    <option value="1">单机游戏</option>
                    <option value="2">网游游戏</option>
                    <option value="3">游戏周边</option>
                </select>
            </div>
            <div class="items">
                <div class="overflow">
                    <div class="word">
                        <span class="star">*</span>
                        <span>游戏版本:</span>
                    </div>
                    <div class="tip">默认只能添加一个版本，如果想要添加多个版本，请添加商品成功后，通过对商品的编辑，再次添加。</div>
                </div>
                <ul>
                    @Html.Action("GoodsVersion", "Goods", Model)
                </ul>
            </div>
            <div class="title">游戏介绍</div>
            <textarea class="introduce" name="Detail">
                @Model.Detail
            </textarea>
            <div class="title">其他设置</div>
            <div class="items">
                <div class="word">
                    <span>配置要求:</span>
                </div>
                <input name="Configuration" value="@Model.Configuration" />
            </div>
            <div class="items">
                <div class="word">
                    <span>激活方式:</span>
                </div>
                <input name="InstallWay" value="@Model.InstallWay" />
            </div>
            <div class="operation">
                <a onclick="document.getElementById('form-goodsMessage').submit(); return false" class="next-step">完成，发布商品</a>
            </div>
        </div>
    </form>
</section>
