@model GameMall_Back.ViewModels.Goods.ViewModelVersions
@{ 
    Layout = null;
}
@if (Model.VersionId == 0)
{
    <script src="~/Js/jquery-1.9.1.js"></script>
}
<script src="~/Js/uploadPicture.js"></script>
<li class="type">
    <div class="item">
        <div class="word">
            <span class="star">*</span>
            <span>版本名:</span>
        </div>
        <input name="VersionName" value="@Model.VersionName" />
        <input name="VersionId" value="@Model.VersionId" type="hidden" />
        <input name="GoodsId" value="@Model.GoodsId" type="hidden" />
    </div>
    <div class="item">
        <div class="word">
            <span class="star">*</span>
            <span>价格:</span>
        </div>
        <input name="Price" value="@Model.Price" />
    </div>
    <div class="item">
        <div class="word">
            <span class="star">*</span>
            <span>仓库:</span>
        </div>
        @Html.Action("SelectWarehouse", "Goods", new { Model.WarehouseId })
    </div>
    <div class="item">
        <div class="word">
            <span class="star">*</span>
            <span>库存:</span>
        </div>
        <input name="Stock" value="@Model.Stock" />
    </div>
    <div class="item">
        <div class="word">
            <span>激活次数:</span>
        </div>
        <input name="ActivationTimes" value="@Model.ActivationTimes" />
    </div>
    <div class="tit">上传该版本图片</div>
    <div class="tit">
        <div>
            <img style="width:100px;height:100px;" onclick="$('.version_image').click();" src="@Model.VersionImage" />
            <input name="VersionImage" class="version_image" type="file" style="display:none"/>
        </div>
    </div>
    <div class="item">
        <div class="word">
            <span>是否上架:</span>
        </div>
        @if (Model.Sell == 1)
        {
            <input name="Sell"  checked="checked" type="checkbox" value="1" class="shelf" />
        }
        else
        {
            <input name="Sell" type="checkbox" value="1" class="shelf" />
        }
        
    </div>
</li>